# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/img/1.webp
src/img/12.jpg
src/img/13.jfif
src/img/14.jpg
src/img/15.jpg
src/img/18.jpg
src/img/19.jpg
src/img/2.jpg
src/img/20.jpg
src/img/21.jpg
src/img/22.jpg
src/img/23.jpg
src/img/24.jpg
src/img/25.jpg
src/img/26.jpg
src/img/27.jpg
src/img/28.jfif
src/img/3.jpg
src/img/4.jpg
src/img/6.jpg
src/img/69.png
src/img/9.jpg
