:root{
    --grey : #c0c0c0
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px ;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.bottom-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
}
.bottom-left{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    color: var(--grey);
    position: absolute;
    top: 30%;
    left: 10%;
    width: 55rem;
    font-size: 2.4rem;
}

